@font-face {
  font-family: "Tang Proxima Nova";
  src: url(../fonts/ProximaNova-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

body,
input,
select,
textarea {
  font-family: "Proxima Nova", "Tang Proxima Nova", -apple-system,
    BlinkMacSystemFont, ".萍方-简", "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
