#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -999;
}

#search {
  position: fixed;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  font-size: 1em;
  width: 20em;
  line-height: 2.5em;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  overflow: hidden;
  color: white;
  border: none;
  border-radius: 3em;
  outline: none;
  backdrop-filter: blur(10px);
  transition: 0.5s;
}

#search:focus {
  top: 30%;
  width: 70%;
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

#suggestions {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  top: 37%;
  width: 70%;
  color: white;
  transition: 0.3s;
}

#search:focus:valid ~ #suggestions {
  opacity: 1;
  visibility: visible;
}

#suggestions > div {
  background: transparent;
  margin: 0.5em 0;
  padding: 0 2em;
  line-height: 2em;
  height: 2em;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  overflow: hidden;
  color: white;
  border: none;
  outline: none;
  border-radius: 0.3em;
  backdrop-filter: blur(10px);
}

#time {
  position: fixed;
  color: white;
  width: 100%;
  height: 1em;
  line-height: 1em;
  text-align: center;
  font-size: 5em;
  top: 30%;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  transition: 0.5s;
}

#search:focus ~ #time {
  font-size: 3.5em;
  top: 15%;
}

#cover {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -888;
  transition: 0.5s;
  background-image: radial-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%);
}

#search:focus ~ #cover {
  background: rgba(0, 0, 0, 0.5);
}

#tang-yan {
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  top: 80%;
  transition: 0.5s;
  font-size: 0.9em;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
}

#search:focus ~ #tang-yan {
  top: 90%;
}

@media screen and (min-height: 800px) {
  #suggestions {
    top: 35%;
  }
}

@media screen and (min-width: 1080px) {
  #search:focus {
    width: 60%;
  }

  #suggestions {
    width: 55%;
  }
}

@media screen and (min-width: 1400px) {
  body {
    font-size: 18px;
  }

  #search:focus {
    width: 50%;
  }
  #suggestions {
    width: 45%;
  }
}
